








#logout button{
    background-color: dimgray;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Oxanium;
    font-size: 16px;
}

#logout button:hover{
    background-color: rgb(179, 121, 14);
}

#logout button:active{
    transform: translateY(2px);
}